@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.css */

body {
  background-color: #000000;
}

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 6rem; /* Prevents overlap with fixed header */
}